@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#050505] text-white;
  }
}

@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-mono {
    font-family: 'JetBrains Mono', monospace;
  }
  
  .glassmorphism {
    @apply bg-[#121215]/80 backdrop-blur-md border border-[#27272A];
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #27272A;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #52525B;
  }
}
